@font-face{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: local('../../fonts/Montserrat-Regular.ttf'),
        url(/src/fonts/Montserrat-Regular.ttf) format('truetype'),
        url(/build/fonts/Montserrat-Regular.woff) format('woff'),
        url(/build/fonts/Montserrat-Regular.woff2) format('woff2');
}
@font-face{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: local('../../fonts/Montserrat-SemiBold.ttf'),
        url(/src/fonts/Montserrat-SemiBold.ttf) format('truetype'),
        url(/build/fonts/Montserrat-SemiBold.woff) format('woff'),
        url(/build/fonts/Montserrat-SemiBold.woff2) format('woff2');
}
@font-face{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: local('../../fonts/Montserrat-Bold.ttf'),
        url(/src/fonts/Montserrat-Bold.ttf) format('truetype'),
        url(/build/fonts/Montserrat-Bold.woff) format('woff'),
        url(/build/fonts/Montserrat-Bold.woff2) format('woff2');
}
@font-face{
   font-family: 'BebasNeue';
   font-style: normal;
   font-weight: 500;
   src: local('../../fonts/BebasNeue-Regular.ttf'),
        url(/src/fonts/BebasNeue-Regular.ttf) format('truetype'),
        url(/build/fonts/BebasNeue-Regular.woff) format('woff'),
        url(/build/fonts/BebasNeue-Regular.woff2) format('woff2');
}
@font-face{
   font-family: 'BebasNeue';
   font-style: normal;
   font-weight: 700;
   src: local('../../fonts/BebasNeue-Bold.ttf'),
        url(/src/fonts/BebasNeue-Bold.ttf) format('truetype'),
        url(/build/fonts/BebasNeue-Bold.woff) format('woff'),
        url(/build/fonts/BebasNeue-Bold.woff2) format('woff2');
}